//- Пример pug-структуры

.класс
	.класс__item.accordion__item 
		.класс__title.accordion__title Первый
		.класс__content.accordion__content Первый блок
	.класс__item.accordion__item 
		.класс__title.accordion__title Второй
		.класс__content.accordion__content Второй блок
	.класс__item.accordion__item 
		.класс__title.accordion__title Третий
		.класс__content.accordion__content Третий блок 