-
	const aboutItems = [
		{
			title: 'RitmStyle массаж ',
			text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in purus, sed tellus eget mattis nibh quam. Eu ornare nunc, id est. Erat consectetur etiam a sit diam in imperdiet amet. Diam nisl, ipsum suscipit amet. Eleifend amet habitasse proin quis adipiscing. Nisl convallis mauris in consequat. Sit ac vitae posuere maecenas dictumst quam. Felis amet diam, non augue massa. Egestas molestie lobortis rhoncus, elit nulla nisl. Habitant tortor at tempor.`,
			img: '@img/girl.jpg',
		},
		{
			title: 'RitmStyle гидротерапия',
			text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu cras quis ac a non ut viverra turpis eget. Hendrerit quis pulvinar massa ipsum sem. Donec posuere nulla enim non neque etiam. Eros arcu, pulvinar penatibus luctus ridiculus sagittis vel nunc hac. Nisi, diam tincidunt dui viverra. Eget quis ultricies sem nunc risus senectus luctus ultricies. Enim feugiat pharetra pharetra et.Pulvinar arcu at morbi posuere cursus. Fermentum est sit enim velit ornare molestie. Ipsum nisi id sed tempor elementum. Mi nunc eget pellentesque ipsum. Suspendisse risus a id vel massa tincidunt. Hendrerit blandit in augue vel mi quam magna egestas. Fringilla ac lacus viverra ullamcorper leo, enim vitae id aliquam. Magna sed tristique tellus enim, netus tempor at elit dui. Ullamcorper hendrerit feugiat libero tellus diam egestas dui tellus odio.`,
			img: '@img/girl.jpg',
		},
		{
			title: 'RitmStyle погружения',
			text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in purus, sed tellus eget mattis nibh quam. Eu ornare nunc, id est. Erat consectetur etiam a sit diam in imperdiet amet. Diam nisl, ipsum suscipit amet. Eleifend amet habitasse proin quis adipiscing. Nisl convallis mauris in consequat. Sit ac vitae posuere maecenas dictumst quam. Felis amet diam, non augue massa. Egestas molestie lobortis rhoncus, elit nulla nisl. Habitant tortor at tempor.`,
			img: '@img/girl.jpg',
		},
	]

section.about#about
	h2(data-aos="zoom-in-down").about__title.title Об RitmStyle
		+svg('leaf leaf--left', 'leaf--left')
		+svg('leaf leaf--right', 'leaf--right')
	- let aboutDelay = 0
	each item in aboutItems
		.about__item
			.about__item-content(data-aos="fade-up" data-aos-delay=aboutDelay)
				.about__item-title= item.title
				.about__item-text= item.text
			- aboutDelay += 150
			.about__item-photo(data-aos="fade-up" data-aos-delay=aboutDelay)
				img.about__item-img(src= item.img alt='photo')

