-
	const menuList = [
		{
			text: 'Главная',
			dataPath: '',
			link: 'index.html',
		},
		{
			text: 'Сеансы',
			dataPath: 'seanses',
			link: '#'
		},
		{
			text: 'Отзывы',
			dataPath: 'reviews',
			link: '#'
		},
		{
			text: 'Контакты',
			dataPath: 'address',
			link: '#'
		},
		{
			text: 'Новости',
			dataPath: '',
			link: 'news-page.html'
		},
		{
			text: 'О нас',
			dataPath: 'about',
			link: '#'
		},
		{
			text: 'Блог',
			dataPath: '',
			link: 'blog-page.html'
		},
	]

header.header
	- let delay = 200;
	.header__logo-wrapper(data-aos="fade-down" data-aos-delay=delay-100)
		a.header__logo-link(href="index.html")
			+svg('header__logo-svg', 'logo')
	nav.header__nav
		ul.header__list
			each item in menuList
				- delay += 100
				li.header__item(data-aos="fade-down" data-aos-delay=delay)
					a.header__link(data-path=item.dataPath href=item.link)= item.text
	.header__button-wrapper(data-aos="fade-down" data-aos-delay=delay+100)
		button(data-modal-path='first').header__button.btn.btn--blue Записаться на сеанс
	.burger__button(data-burger-btn)
		span