-
	const menuList = [
		{
			text: 'Главная',
			dataPath: '',
			link: '/'
		},
		{
			text: 'Сеансы',
			dataPath: 'seanses',
			link: '#'
		},
		{
			text: 'Отзывы',
			dataPath: 'reviews',
			link: '#'
		},
		{
			text: 'Контакты',
			dataPath: 'address',
			link: '#'
		},
		{
			text: 'Новости',
			dataPath: '',
			link: 'news-page.html'
		},
		{
			text: 'О нас',
			dataPath: 'about',
			link: '#'
		},
		{
			text: 'Блог',
			dataPath: '',
			link: 'blog-page.html'
		},
	]

header.header
	a.header__logo-link(href="/")
		+svg('header__logo-svg', 'logo')
	nav.header__nav
		ul.header__list
			each item in menuList
				li.header__item
					a.header__link(data-path=item.dataPath href= item.link)= item.text
	button(data-modal-path='first').header__button.btn.btn--blue Записаться на сеанс
	.burger__button(data-burger-btn)
		span