-
	const seansesItems = [
		'Стандартный RitmStyle',
		'RitmStyle для пар',
		'RitmStyle с полным погружением под воду',
		'RitmStyle для беременных',
		'RitmStyle + красочная подводная фотосессия',
	]

section.seanses#seanses
	h2(data-aos="fade-down").seanses__title.title Сеансы RitmStyle
		+svg('leaf leaf--left', 'leaf--left')
		+svg('leaf leaf--right', 'leaf--right')
	.seanses__grid
		- let seansesDelay = 0
		each item in seansesItems
			- seansesDelay += 100
			.seanses__grid-wrapper(data-aos="zoom-in-down" data-aos-delay=seansesDelay)
				.seanses__grid-item.item
					h4.seanses__grid-title.item__title= item