//- Пример pug-структуры
link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")

.класс
	.swiper-wrapper
		.swiper-slide 111111111111111
		.swiper-slide 222222222222222
		.swiper-slide 333333333333333
	.swiper-pagination
	.swiper-button-prev
	.swiper-button-next
	.swiper-scrollbar