doctype html
html(lang="ru")
	head
		include utils/mixins
		include utils/meta
		include utils/links
		include utils/fonts
		title Main Page
	body
		.wrapper
			include components/header

			include components/first-screen

			include components/seanses
			
			include components/reviews

			include components/about

			include components/prices

			include components/address

			include components/modal

			include components/footer
		include utils/scripts
