doctype html
html(lang="ru")
	head
		include utils/mixins
		include utils/meta
		include utils/links
		include utils/fonts
		title Single Post Page
	body
		.wrapper._lines
			include components/header

			include components/post
			
			include components/modal

			include components/footer
		include utils/scripts
