//- Пример pug-структуры

.класс
	.класс__buttons
		.класс__button.tabs__button(data-tabs-path='first').tabs__button--active Первый
		.класс__button.tabs__button(data-tabs-path='second') Второй
		.класс__button.tabs__button(data-tabs-path='third') Третий
	.класс__item.tabs__item(data-tabs-target='first').tabs__item--active
		.класс__content
	.класс__item.tabs__item(data-tabs-target='second')
		.класс__content
	.класс__item.tabs__item(data-tabs-target='third')
		.класс__content